<%- include('./partials/_header.ejs') %> 
  <div class="row">
    <div class="col-6">

      <% if (user) { %>
        <h2>Welcome to the Herd Manager, <%= user.username %>!</h2>
        <p>
          <a class="btn btn-lg btn-warning" href="/auth/sign-out">Sign out</a>
        </p>
      <% } else { %>
        <h2>Welcome to the app, guest.</h2>
        <p>
          <a class="btn btn-lg btn-primary" href="/auth/sign-up">Sign up</a> or
          <a class="btn btn-lg btn-secondary" href="/auth/sign-in">Sign in</a>.
        </p>
      <% } %>

    </div>
    <div class="col-6">

      <img src="/images/sheepIcon.svg" class="bigSheep" alt="SheepTech"/>
      

    </div>

  </div>
 
  <%- include('./partials/_footer.ejs') %> 